{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
  <div class="container-fluid">


    <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle navbar-brand" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Django Recipe App
          </a>
        
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'all_category' %}">Food Categories</a></li>
            
            <li><a class="dropdown-item" href="{% url 'all_recipes' %}" >All Foods</a></li>
            
  
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'home' %}" >Recent liked recipes</a></li>
          </ul>
        </li>



    <!-- <a class="navbar-brand" href="{% url 'home'  %}">Delicious Foods</a>   -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'show_all_profiles' %}">Profiles</a>
        </li>


       
        <li class="nav-item">
           <a class="nav-link active" aria-current="page" href="{% url 'add_recipe' %}">Add Food Recipe</a>
        </li>
        
        {% if request.user.is_superuser %}
        <li class="nav-item">
           <a class="nav-link active" aria-current="page" href="{% url 'add_category' %}">Add new Category</a>
        </li>
        {% endif  %}



        {% endif %}


        
      </ul>

         <form class="navbar-nav ml-auto me-5" method="POST" action="{% url 'all_recipes'  %}" > 
         {% csrf_token %}
          <button class="btn btn-outline-success" type="submit">Search</button>
          <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">
          
        </form>
  
      
        <ul class="navbar-nav ml-auto">
            {% if not request.user.is_authenticated %}
            <li>
              <a href="{% url 'user_login' %}"  data-mdb-ripple-init  class="btn btn-secondary btn-sm px-3 me-2">
                Login
              </a>
            </li>
          <li>
            <a href="{% url 'user_signup' %}" data-mdb-ripple-init  class="btn btn-primary btn-sm  me-3">
              Sign up 
            </a>
          </li>
          {% else %}

          <li>
              <a href="{% url 'user_logout' %}"  data-mdb-ripple-init  class="btn btn-danger btn-sm px-3 me-2 my-2">
                Logout
              </a>
            </li>


          {% endif %}

          {% if request.user.is_authenticated %}
          <li class="nav-item">
             
              <a class="nav-link active" aria-current="page" href="{% url 'show_profile' request.user.pk %}">
                <img src="{{request.user.profile.imageURL}}" class="rounded-circle" width=30px height=30px>
              </a>
              
          </li>
          {% endif %}
        </ul>

       
    </div>
  </div>
</nav>

  



